@import "colors";

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem 2vw;
  width: 100%;
  background-color: $black-color;
  text-align: center;

  .footerTitle {
    color: $white-color;
    font-size: 1em;
    
    .footerTitleName {
      color: $red-color;
    }
  }
}
