@import "colors";

.home {
  background-color: $gray-color;
  padding: 0 0 5.3rem 0;
  min-height: 100vh;
  position: relative;

  .home_container {
    margin: 0 0 0 9vw;
    padding: 1rem 0;

    .home_container_card {
      transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
        transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
      background-color: $black-color;
      border: 1px solid $gray-color;
      border-radius: .5rem;
      margin: .5vw 0 .5vw 0;
      padding: 1rem;
      height: 31vw;
      width: 44vw;

      .home_container_cardTitle {
        color: $white-color;
      }

      .home_container_cardSubtitle {
        color: $white-color;
      }

      &:hover {
        border: 1px solid $red-color;
      }
    }
  }
}
