$white-color: #fafaf9;
$black-color: #0d0d0d;
$gray-color: #151515;
$secondary-gray-color: #666666;
$tertiary-gray-color: #c8c8c8;
$background-color: #00000066;
$blue-color: #0075ea;
$secondary-blue-color: #0861c5;
$red-color: #ea0000;
