@import "colors";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $black-color;
  color: $white-color;
  border-top: 1px solid $secondary-gray-color;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  bottom: 0;
  z-index: 6;
  
  .containerButton {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: .3rem;
    height: 2rem;
    width: 4rem;
    background-color: $blue-color;
    color: $white-color;
    
    &:hover {
      background-color: $secondary-blue-color;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      
      &:active {
        -webkit-filter: Brightness(.6);
        filter: Brightness(.6);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 5rem;
    
    .containerButton {
      height: 2.5rem;
    }
  }
}
