@import "colors";

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $black-color;
  color: $white-color;
  padding: 0 0 3rem 0;
  min-height: 100vh;

  .errorTitle {
    font-size: 8rem;
  }

  .errorSubtitle {
    font-size: 3rem;
  }
}
