@import "colors";

.container {
  position: fixed;
  background-color: $gray-color;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //padding: 3rem 4rem;
  padding: 2vw 3vw;
  min-height: 35rem;
  height: 35vw;
  min-width: 35rem;
  width: 35vw;
  z-index: 3;

  .containerTitle {
    color: $white-color;
    text-align: center;
    font-size: 1vw;
    margin: 0 0 3vw 0;
  }

  .container_form {
    display: flex;
    flex-direction: column;
    min-height: 24rem;
    height: 23vw;
    //min-height: 24rem;

    .container_formInput {
      border: 1px solid $white-color;
      border-radius: .5rem;
      outline: none;
      font-size: .7vw;
      margin: 0 0 1vw 0;
      padding: 0 0 0 1vw;
      min-height: 3.5rem;
      height: 3vw;
      width: auto;

      &:hover {
        border: 1px solid $blue-color;
      }
    }

    .container_formErrorMessage {
      font-size: .7vw;
      margin: -.5vw 0 .5vw 0;
      color: $red-color;

      &.accountNotFound {
        text-align: center;
        margin: -2.3vw 0 1vw 0;
      }
    }

    .container_formButton {
      text-transform: capitalize;
      cursor: pointer;
      border: none;
      border-radius: .5rem;
      background-color: $blue-color;
      color: $white-color;
      outline: none;
      font-size: .7vw;
      margin: auto 0 0 0;
      bottom: 0;
      min-height: 3.5rem;
      height: 3vw;
      width: auto;

      &:focus {
        filter: Brightness(.8);
        transition: 300ms;
      }
    }
  }

  .containerText {
    color: $white-color;
    text-align: center;
    font-size: .7vw;
    margin: 3vw 0 0 0;

    .containerTextLink {
      color: $blue-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 3rem;
    min-height: 42rem;
    height: 50vw;
    min-width: 26rem;
    width: 65vw;
    z-index: 2;

    .container_form {
      padding: 0;
      min-height: 26rem;

      .container_formInput {
        font-size: 2vw;
        margin: 0 0 1.5vw 0;
        padding: 0 0 0 1rem;
        min-height: 3.8rem;
        height: 7vw;
      }

      .container_formButton {
        font-size: 2vw;
        min-height: 3.8rem;
        height: 7vw;
      }
    }
  }
}
