@import "colors";

.container {
  position: fixed;
  background-color: $gray-color;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  padding: 2vw 3rem;
  min-height: 35rem;
  min-width: 35rem;
  width: 35vw;
  z-index: 3;

  .containerTitle {
    color: $white-color;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 3vw 0;
  }

  .container_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 26.5rem;
    height: 22vw;

    .container_formInput {
      background-color: $black-color;
      color: $white-color;
      caret-color: $blue-color;
      border: 1px solid $secondary-gray-color;
      border-radius: .5rem;
      outline: none;
      font-size: .8rem;
      margin: 0 0 1vw 0;
      padding: 0 1vw;
      min-height: 3.5rem;
      height: 2vw;
      width: auto;

      &:hover {
        border: 1px solid $blue-color;
      }
    }

    .container_formErrorMessage {
      font-size: .8rem;
      margin: -.5vw 0 .5vw 0;
      color: $red-color;

      &.accountNotFound {
        text-align: center;
        margin: -2.3vw 0 1vw 0;
      }
    }

    .container_formButton {
      text-transform: capitalize;
      cursor: pointer;
      border: none;
      border-radius: .5rem;
      background-color: $blue-color;
      color: $white-color;
      outline: none;
      font-size: .8rem;
      margin: auto 0 0 0;
      align-items: center;
      bottom: 0;
      min-height: 3.5rem;
      height: 2vw;
      width: auto;

      &:hover {
        background-color: $secondary-blue-color;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
        
        &:active {
          -webkit-filter: Brightness(.6);
          filter: Brightness(.6);
        }
      }
    }
  }

  .containerText {
    color: $white-color;
    text-align: center;
    font-size: .8rem;
    margin: 1.5vw 0 0 0;

    .containerTextLink {
      color: $blue-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2.5rem;
    min-height: 42rem;
    height: 50vw;
    min-width: 0;
    width: 90vw;
    max-width: 40rem;
    z-index: 2;
    
    .containerTitle {
      font-size: 1.5rem;
      margin: 0 0 3rem 0;
    }
  
    .container_form {
      min-height: 28rem;

      .container_formInput {
        font-size: 1rem;
        margin: 0 0 1.5vw 0;
        padding: 0 0 0 1rem;
        min-height: 3.8rem;
        height: 7vw;
      }
      
      .container_formErrorMessage {
        font-size: 1rem;
      }
      
      .container_formButton {
        font-size: 1rem;
        min-height: 3.8rem;
        height: 7vw;
      }
    }
    
    .containerText {
      font-size: 1rem;
      margin: 2rem 0 0 0;
    }
  }
}
