@import "colors";

.home {
  background-color: $gray-color;
  padding: 5.5rem 0 6rem 0;
  min-height: 100vh;
  position: relative;

  .home_container {
    margin: 0 0 0 9vw;
    padding: 1rem 0;

    .home_container_card {
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      background-color: $black-color;
      color: $white-color;
      border: 1px solid $gray-color;
      border-radius: .5rem;
      margin: .5vw 0 .5vw 0;
      padding: 1rem;
      height: 31vw;
      width: 44vw;
      
      .home_container_cardTitle {
        font-size: 2rem;
      }

      &:hover {
        border: 1px solid $blue-color;
      }
    }
  }
}
