@import "colors";

.home {
  background-color: $black-color;
  padding: 5.5rem 0 6rem 0;
  min-height: 100vh;
  position: relative;

  .home_container {
    margin: 0 0 0 9vw;
    padding: 1rem 0;

    .home_container_card {
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      background-color: $gray-color;
      color: $white-color;
      border: 1px solid $black-color;
      border-radius: .5rem;
      margin: .5vw 0 .5vw 0;
      padding: 2rem 3rem;
      min-height: 32vw;
      height: auto;
      width: 43vw;

      .home_container_cardTitle {
        font-weight: bold;
        font-size: 2.3rem;
      }

      .home_container_cardImage {
        margin: 1.5rem 0 0 0;
        height: 22vw;
        width: 100%;
      }

      .home_container_card_details {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 0 0;
        padding: 0 0 2.5rem 0;
        height: 2rem;
        font-size: 1.3rem;

        .home_container_card_detailsAuthor {
          color: $blue-color;
          cursor: default;
        }

        .home_container_card_detailsDate {
          color: $tertiary-gray-color;
        }
      }

      .home_container_cardParagraph {
        font-size: 1.3rem;
        color: $tertiary-gray-color;
      }

      &:hover {
        border: 1px solid $blue-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 6rem 0 3rem 0;

    .home_container {
      margin: 0 0 0 4vw;

      .home_container_card {
        padding: 2rem;
        width: 92vw;

        .home_container_cardTitle {
          font-size: 1.5rem;
        }

        .home_container_cardImage {
          margin: 1rem 0 0 0;
          height: 55vw;
        }

        .home_container_card_details {
          margin: 1rem 0 .4rem 0;
          padding: 0;
          font-size: 1rem;
        }

        .home_container_cardParagraph {
          font-size: 1.2rem;
        }
      }
    }
  }
}
