@import "colors";

.home {
  background-color: $black-color;
  padding: 5.5rem 0 6rem 0;
  min-height: 100vh;
  position: relative;

  .home_container {
    margin: 0 0 0 7%;
    padding: 1rem 0;
    
    .home_containerNofound {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      color: $white-color;
      white-space: nowrap;
      top: 47%;
      left: 50%;
      -webkit-transform: translate(-47%, -50%);
      -ms-transform: translate(-47%, -50%);
      transform: translate(-47%, -50%);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 2rem;
    }
    
    .home_container_card {
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      background-color: $gray-color;
      color: $white-color;
      border: 1px solid $black-color;
      border-radius: .5rem;
      word-wrap: break-word;
      margin: .5rem 0 1rem 0;
      padding: 2rem 3rem;
      min-height: 40rem;
      height: auto;
      min-width: 50rem;
      width: 40vw;

      .home_container_cardTitle {
        font-weight: bold;
        font-size: 2.3rem;
      }

      .home_container_cardImage {
        margin: 1.5rem 0 0 0;
        min-height: 27rem;
        height: 22vw;
        width: 100%;
      }

      .home_container_card_details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 1rem 0 0 0;
        padding: 0 0 2.5rem 0;
        height: 2rem;
        font-size: 1.3rem;

        .home_container_card_detailsAuthor {
          color: $blue-color;
          cursor: default;
        }

        .home_container_card_detailsDate {
          color: $tertiary-gray-color;
        }
      }

      .home_container_cardDescription {
        display: inline-block;
        font-size: 1.1rem;
        color: $tertiary-gray-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 6rem 0;

    .home_container {
      margin: 0 0 0 4vw;
      
      .home_container_card {
        padding: 2rem 1.5rem;
        min-height: 20rem;
        min-width: 0;
        width: 92vw;

        .home_container_cardTitle {
          font-size: 1.5rem;
        }

        .home_container_cardImage {
          margin: 2rem 0 0 0;
          min-height: 10rem;
          height: 50vw;
        }

        .home_container_card_details {
          margin: 1rem 0 .4rem 0;
          padding: 0;
          font-size: 1rem;
        }

        .home_container_cardParagraph {
          font-size: 1.2rem;
        }
      }
    }
  }
}
