@import "colors";

.post {
  background-color: $black-color;
  padding: 7.1rem 0 7.5rem 0;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  .post_container {
    background-color: $gray-color;
    color: $white-color;
    border: 1px solid $gray-color;
    border-radius: .5rem;
    margin: 0 auto;
    padding: 2rem 3rem .5rem 3rem;
    min-height: 50vw;
    height: auto;
    min-width: 45rem;
    width: 65vw;

    .post_containerTitle {
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
    }

    .post_containerImage {
      margin: 2rem 0 0 0;
      min-height: 25rem;
      height: 37vw;
      width: 100%;
    }

    .post_container_details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 1.5rem 0;
      font-size: 1.5rem;

      .post_container_detailsAuthor {
        color: $blue-color;
        cursor: default;
      }

      .post_container_detailsDate {
        color: $tertiary-gray-color;
      }
    }
    
    .post_container_description {
      margin: 0 0 20% 0;
    }

    .post_container_comments {
      margin: 7rem 0 0 0;
      
      .post_container_commentsHeader {
        margin: 0 0 2rem 0;
      }
      
      .post_container_comments_addcomment {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 0 3rem 0;
        width: 100%;

        .post_container_comments_addcommentTextarea {
          border-radius: .5rem;
          background-color: $black-color;
          caret-color: $white-color;
          color: $white-color;
          border: 1px solid $secondary-gray-color;
          outline: none;
          margin: 0 0 2rem 0;
          padding: 1.5rem 2rem;
          min-height: 10rem;
          min-width: 100%;
          max-width: 100%;

          &:focus {
            border: 1px solid $blue-color;
          }
        }

        .post_container_comments_addcommentButton {
          cursor: pointer;
          border: none;
          outline: none;
          border-radius: .5rem;
          background-color: $blue-color;
          color: $white-color;
          font-size: 1rem;
          padding: 1rem 2rem;
          margin: 0 0 0 auto;

          &:hover {
            background-color: $secondary-blue-color;
            -webkit-transition: 300ms;
            -o-transition: 300ms;
            transition: 300ms;
          }
        }
      }

      .post_container_commentsNotLoggedInMessage {
        margin: 0 0 5rem 0;
        text-align: center;

        .post_container_commentsNotLoggedInMessageColor {
          color: $blue-color;
          cursor: pointer;
        }
      }

      .post_container_comments_comment {
        margin: 2rem 0 2.5rem 0;

        .post_container_comments_commentHeader {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          .post_container_comments_commentUsername {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1;
            margin: 0 .6rem 0 0;
          }

          .post_container_comments_commentTime {
            color: $secondary-gray-color;
            font-size: 1rem;
            margin: .2rem auto 0 0;
            line-height: 1;
          }

          .post_container_comments_commentDelete {
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: .5rem;
            margin: 0 0 0 1rem;
            color: $red-color;
            background-color: transparent;

            &:hover {
              -webkit-filter: Brightness(.8);
              filter: Brightness(.8);
              -webkit-transition: 200ms;
              -o-transition: 200ms;
              transition: 200ms;

              &:active {
                -webkit-filter: Brightness(.6);
                filter: Brightness(.6);
              }
            }
          }
        }

        .post_container_comments_commentByUser {
          word-wrap: break-word;
          padding: 0 3rem 0 0;
          margin: .6rem 0 0 .7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post {
    padding: 7.5rem 0;

    .post_container {
      padding: 2rem 1.5rem;
      min-height: 10vw;
      min-width: 0;
      width: 92vw;

      .post_containerTitle, .post_containerSubtitle {
        font-size: 1.5rem;
      }

      .post_containerImage {
        min-height: 0;
        height: 50vw;
      }

      .post_container_details {
        margin: 1rem 0;
        font-size: 1rem;
      }
      
      .post_container_description {
        margin: 0 0 40% 0;
      }

      .post_container_comments {
        margin: 5rem 0 0 0;

        .post_container_comments_addcomment {
          margin: 0 0 1rem 0;
          
          .post_container_comments_addcommentTextarea {
            margin: 0 0 1rem 0;
            padding: 1.5rem;
          }

          .post_container_comments_addcommentButton {
            padding: 1rem;
          }
        }

        .post_container_commentsNotLoggedInMessage {
          font-size: 1rem;
          margin: 2rem 0 3.5rem 0;
        }

        .post_container_comments_comment > .post_container_comments_commentByUser {
          margin: .5rem 0 0 .8rem;
        }
      }
    }
  }
}
