@import "colors";

.post {
  background-color: $gray-color;
  padding: 7rem 0;
  min-height: 100vh;
  position: relative;

  .post_container {
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background-color: $black-color;
    color: $white-color;
    border: 1px solid $gray-color;
    border-radius: .5rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    min-height: 50vw;
    height: auto;
    width: 65vw;

    .post_containerTitle {
      font-size: 2.5rem;
      text-align: center;
    }

    .post_containerImage {
      margin: 1.5rem 0;
      height: 35vw;
      width: 100%;
    }

    .post_containerDate {
      font-size: 1.5rem;
      text-align: right;
      margin: 0 0 1rem 0;
    }

    .post_containerWarn {
      font-size: 1.3rem;
      margin: 0 0 3rem 0;
    }

    .post_containerSubtitle {
      font-size: 2.5rem;
    }

    .post_containerParagraph {
      font-size: 1.5rem;
      margin: 1rem 0 4rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .post > .post_container {
    padding: 2rem 1.5rem;
    width: 92vw;

    .post_containerTitle {
      font-size: 1.8rem;
    }

    .post_containerImage {
      margin: 1rem 0;
      height: 55vw;
    }

    .post_containerDate {
      font-size: 1.2rem;
    }

    .post_containerWarn {
      font-size: 1rem;
    }

    .post_containerSubtitle {
      font-size: 1.8rem;
    }

    .post_containerParagraph {
      font-size: 1.2rem;
    }
  }
}
