/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/form.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form_container__nDEJD {
  position: fixed;
  background-color: #111111;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 4rem;
  min-height: 35rem;
  height: auto;
  min-width: 30rem;
  z-index: 3;
}
.form_container__nDEJD .form_containerTitle__Fo8xH {
  color: #fafaf9;
  text-align: center;
  margin: 0 0 3rem 0;
}
.form_container__nDEJD .form_container_form__0rSUd {
  display: flex;
  flex-direction: column;
  min-height: 24rem;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formInput__D1GrB {
  border: 1px solid #fafaf9;
  border-radius: 0.5rem;
  outline: none;
  margin: 0 0 1vw 0;
  padding: 0 0 0 1vw;
  min-height: 3.5rem;
  height: 3vw;
  width: auto;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formInput__D1GrB:hover {
  border: 1px solid #0075ea;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formErrorMessage__9_Wca {
  margin: -0.5vw 0 0.5vw 0;
  color: #ea0000;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formErrorMessage__9_Wca.form_accountNotFound__BVFw5 {
  text-align: center;
  margin: -2.3vw 0 1vw 0;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formButton__s0Nn9 {
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: #0075ea;
  outline: none;
  margin: auto 0 0 0;
  bottom: 0;
  min-height: 3.5rem;
  height: 3vw;
  width: auto;
}
.form_container__nDEJD .form_container_form__0rSUd .form_container_formButton__s0Nn9:focus {
  filter: Brightness(0.8);
  transition: 300ms;
}
.form_container__nDEJD .form_containerText___2YNa {
  color: #fafaf9;
  text-align: center;
  margin: 3rem 0 0 0;
}
.form_container__nDEJD .form_containerText___2YNa .form_containerTextLink__snp87 {
  color: #0075ea;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form_container__nDEJD {
    padding: 3rem;
    min-height: 40rem;
    height: 50vw;
    min-width: 25rem;
    width: 65vw;
    z-index: 2;
  }
  .form_container__nDEJD .form_container_form__0rSUd {
    padding: 0;
    min-height: 24rem;
  }
  .form_container__nDEJD .form_container_form__0rSUd .form_container_formInput__D1GrB {
    margin: 0 0 1.5vw 0;
    padding: 0 0 0 1rem;
    min-height: 3.8rem;
    height: 7vw;
  }
  .form_container__nDEJD .form_container_form__0rSUd .form_container_formButton__s0Nn9 {
    min-height: 3.8rem;
    height: 7vw;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/header.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__alaJH {
  display: flex;
  position: absolute;
  top: 0;
  padding: 0 1vw;
  height: 5rem;
  width: 100%;
  background-color: #111111;
  align-items: center;
  z-index: 1;
}
.header_header__alaJH .header_headerLogo__IybXW {
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto 0 0;
  color: #fafaf9;
  font-size: 2rem;
  font-weight: 700;
}
.header_header__alaJH .header_header_menu__Qg6af {
  display: flex;
  align-items: center;
}
.header_header__alaJH .header_header_menu__Qg6af .header_header_menuItem__pTlKo {
  cursor: pointer;
  margin: 0 0 0 1rem;
  font-size: 1rem;
  color: #fafaf9;
  display: flex;
  align-items: center;
}
.header_header__alaJH .header_header_menu__Qg6af .header_header_menuItem__pTlKo:hover {
  color: #0075ea;
}
.header_header__alaJH .header_header_hamburger__9mLT6 {
  display: none;
  cursor: pointer;
  margin: 0 0.5rem 0 0;
}
.header_header__alaJH .header_header_hamburger__9mLT6 .header_header_hamburgerBar__WK3Vl {
  display: block;
  margin: 0.5rem auto;
  height: 0.2rem;
  width: 2rem;
  border-radius: 2px;
  background-color: #fafaf9;
  transition: transform 0.3s ease;
}

.header_background__MZFy9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22, 22, 22, 0.4431372549);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header_header__alaJH {
    padding: 0 4vw;
    z-index: 3;
  }
  .header_header__alaJH .header_headerLogo__IybXW {
    font-size: 1.5rem;
  }
  .header_header__alaJH .header_header_menu__Qg6af {
    background-color: #111111;
    -webkit-backdrop-filter: blur(0.15rem);
            backdrop-filter: blur(0.15rem);
    text-align: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: -100%;
    top: 5rem;
    width: 100%;
  }
  .header_header__alaJH .header_header_menu__Qg6af .header_header_menuItem__pTlKo {
    display: inline;
    margin: 0;
    padding: 1.5rem 0;
    width: 100%;
  }
  .header_header__alaJH .header_header_menu__Qg6af.header_active__bNRqg {
    left: 0;
    z-index: 3;
  }
  .header_header__alaJH .header_header_menu__Qg6af.header_headerLowZIndex__sTsdM {
    z-index: 1;
  }
  .header_header__alaJH .header_header_hamburger__9mLT6 {
    display: block;
    z-index: 3;
  }
  .header_header__alaJH .header_header_hamburger__9mLT6:nth-child(1) {
    transform: translateY(0.1rem) rotate(0deg);
  }
  .header_header__alaJH .header_header_hamburger__9mLT6:nth-child(2) {
    opacity: 0;
  }
  .header_header__alaJH .header_header_hamburger__9mLT6:nth-child(3) {
    transform: translateY(-0.1rem) rotate(0deg);
  }
  .header_header__alaJH .header_header_hamburger__9mLT6.header_active__bNRqg {
    z-index: 2;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/footer.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__zLNA7 {
  position: absolute;
  padding: 2rem 2rem;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  text-align: center;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH {
  color: #fafaf9;
  font-size: 1rem;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH .footer_footerTitleName__voOEm {
  color: #0075ea;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH .footer_footerTitleName__voOEm::selection {
  color: #fafaf9;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/error.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.error_error__YG9D3 {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  color: #fafaf9;
  padding: 0 0 3rem 0;
  min-height: 100vh;
}
.error_error__YG9D3 .error_errorTitle__kHGPE {
  font-size: 8rem;
}
.error_error__YG9D3 .error_errorSubtitle__3smjf {
  font-size: 3rem;
}
