/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/header.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__alaJH {
  display: flex;
  position: absolute;
  top: 0;
  padding: 0 1vw;
  height: 5rem;
  width: 100%;
  background-color: #111111;
  align-items: center;
}
.header_header__alaJH .header_headerLogo__IybXW {
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto 0 0;
  color: #fafaf9;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .header_header__alaJH {
    padding: 0 4vw;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/footer.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__zLNA7 {
  position: absolute;
  padding: 2rem 2rem;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  text-align: center;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH {
  color: #fafaf9;
  font-size: 1rem;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH .footer_footerTitleName__voOEm {
  color: #0057AD;
}
.footer_footer__zLNA7 .footer_footerTitle__UwvEH .footer_footerTitleName__voOEm::selection {
  color: #fafaf9;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/app/styles/home.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_home__yHnIl {
  background-color: #151515;
  padding: 5.5rem 0 6rem 0;
  min-height: 100vh;
  position: relative;
}
.home_home__yHnIl .home_home_container__Z6DkE {
  margin: 0 0 0 9vw;
  padding: 1rem 0;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH {
  transition: 300ms;
  background-color: #111111;
  color: #fafaf9;
  border: 1px solid #151515;
  border-radius: 0.5rem;
  margin: 0.5vw 0 0.5vw 0;
  padding: 2rem 3rem;
  min-height: 32vw;
  height: auto;
  width: 43vw;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardTitle__LLeBi {
  font-size: 2.3rem;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardImage__Knli7 {
  margin: 1.5rem 0 1rem 0;
  height: 22vw;
  width: 100%;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardDate__1J_Hm {
  font-size: 1.3rem;
  text-align: right;
  margin: 0 0 1rem 0;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardParagraph___yRwZ {
  font-size: 1.3rem;
}
.home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH:hover {
  border: 1px solid #0057AD;
}

@media screen and (max-width: 768px) {
  .home_home__yHnIl {
    padding: 6rem 0 3rem 0;
  }
  .home_home__yHnIl .home_home_container__Z6DkE {
    margin: 0 0 0 4vw;
  }
  .home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH {
    padding: 2rem;
    width: 92vw;
  }
  .home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardTitle__LLeBi {
    font-size: 1.5rem;
  }
  .home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardImage__Knli7 {
    margin: 1rem 0 0.7rem 0;
    height: 57vw;
  }
  .home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardDate__1J_Hm {
    font-size: 1.2rem;
    margin: 0 0 0.7rem 0;
  }
  .home_home__yHnIl .home_home_container__Z6DkE .home_home_container_card____BJH .home_home_container_cardParagraph___yRwZ {
    font-size: 1.2rem;
  }
}
